body{
    background-color: #0b0c10be;
}

.box{
    display: flex;
    color: black;
    flex-direction: column;
    gap: 15px;    
    background-color: rgba(135, 207, 235, 0.785);
    margin: 100px auto;
    width: 500px;
    height: 500px;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
#sun{
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.box input{
    border: none;
    width: 60%;
    padding: 10px;
    border-radius: 20px;
}
input::placeholder{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
}

button{
    /* background-color: blue; */
    color: white;
    font-size: large;
    /* border: none; */
    height: 40px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
Signup:hover{
    background-color: violet;
    cursor: pointer;
}

.buttons button{
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    /* transition: all ease-in 2s; */
    animation-name: btn;
    animation-duration: 5s;
    /* animation: btn 5s ease-in-out;
    background-color: blue;
    display: none; */
}

@keyframes btn{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
        /* display: inherit; */
    }
} 

