body{
    background-color: #0b0c10be;
}

.box{
    display:  flex;
    flex-direction: column;
    gap: 30px;
    color: blue;
    background-color: rgba(135, 207, 235, 0.785);;
    margin: 100px auto;
    width: 40%;
    height: 500px;
    border-radius: 10px;
    padding: 20;
    position: relative;
}

#sun{
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.box .checkbox{
    display: flex;
    justify-content: space-evenly;
}

.login, .link{

    text-align: center;
}
.link{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input::placeholder{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
}
.input{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    width: 60%;
    gap: 20px;
    border-radius: 20px;
}
.input input{
    border-radius: 20px;
    border: none;
    padding: 8px;
}
.box #login{
    height: 50px;
    width: 20%;
    border-radius: 20px;
    background-color: blue;
    cursor: pointer;
    color: white;
    font-size: large;
    padding: 10px;
}
.box #login:hover{
    background-color: rgb(0, 62, 247);
}
.checkbox span a, .link p a{
    color: blue;
}
.link p{
    color: #000;
}
.link p a:hover, .checkbox span a:hover{
    color: #fff;
    cursor: pointer;
}
.login h1{
    color: #000;
}
#remember_me:hover, #forgot_pass:hover {
    color: #fff;
    cursor: pointer;
}


.btn{
    animation-name: btn;
    animation-duration: 5s;
}

@keyframes btn{
    from{
        opacity: 0%;

    }
    to{
        opacity: 100%;
    }
} 
